repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy (rest_api)
        exclude: "telegram_bot|.*/migrations/.*"
        additional_dependencies: [ "types-requests~=2.32", "types-pytz~=2025.2" ]
      - id: mypy
        name: mypy (telegram_bot)
        exclude: "rest_api"
        additional_dependencies: [ "types-requests~=2.32", "types-pytz~=2025.2" ]
